/**********************************************/
/*主体*/
/**********************************************/
.container {
	height: 10rem;
	margin-top: 1.5rem;
}

/**********************************************/
/*搜索框*/
/**********************************************/
.container .searchinput {
	margin-top: 3rem;
}

.container .inp-input {
	height: 1.6rem;
	line-height: 1.6rem;
	font-size: 1.6rem;
	border: 1px solid #dfdfdf;
	border-right: 0;
	width: 30rem;
	padding: 10px 16px 10px 20px;
	float: left;
	color: #333;
	outline: none;
}

.container .btn-button {
	border: 1px solid #dfdfdf;
	width: 6rem;
	height: 3.4rem;
	background-color: transparent;
	padding: 0;
	position: relative;
	z-index: 2;
	outline: none;
	transition: 0.2s all;
}

.btn-button:HOVER {
	background: #ff318c;
	color: #fff;
}

@media screen and (max-width: 800px) {
	.logo {
		display: none;
	}
	.searchinput {
		margin: 0 auto;
	}
	.container .searchinput {
		width: 470px;
		float: none !important;
	}
	.container {
		margin-top: 0;
	}
}

@media screen and (max-width: 30em) {
	.container .searchinput {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.container .inp-input {
		width: 70%;
	}
	.container .btn-button {
		width: 20%;
	}
}
/**********************************************/
/*头部导航*/
/**********************************************/
.nav-bar-header {
	position: relative;
}

.nav-bar-header nav ul li {
	float: left;
	height: 4rem;
	line-height: 4rem;
	cursor: pointer;
	font-size: 1.8rem;
	color: #fff;
	padding: 0 1rem;
	width: 8%;
	text-align: center;
	transition: 0.2s all;
}

.nav-bar-header nav ul li:HOVER {
	background: #080809;
}

.nav-bar-header nav ul {
	background: #313137;
}

.nav-bar-header nav ul li:FIRST-CHILD {
	background-color: #007ACC !important;
	padding: 0 0 0 18px;
	text-align: left;
	width: 13.4%;
}

.nav-bar-header nav ul .active {
	background: #080809;
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
	.nav-bar-header nav ul li {
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
	.nav-bar-header nav ul li {
		font-size: 1.55rem;
	}
}

@media screen and (max-width: 800px) {
	.nav-bar-header nav ul li:FIRST-CHILD {
		display: none;
	}
	.nav-bar-header nav ul li {
		font: 1.54rem 'Microsoft YaHei';
		line-height: 4rem;
	}
	.left-menu {
		display: none;
	}
	.nav-bar-header nav ul li {
		width: 12%;
	}
}
/**********************************************/
/*左侧导航*/
/**********************************************/
.left-menu {
	width: 15%;
	float: left;
}

.left-menu div {
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	background: #f9f9f9;
	padding: 0 10%;
	height: 4.6rem;
	line-height: 4.8rem;
	overflow: hidden;
	font-size: 1.6rem;
	transition: 0.2s all;
}

.left-menu div:HOVER {
	background: #fff;
}

.left-menu div dt {
	float: left;
}

.left-menu .sp-sc {
	float: right;
	color: #999;
	font-size: 1rem;
	margin-left: 0.5rem;
	text-align: right;
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
	.left-menu div {
		height: 3.82rem;
		line-height: 3.82rem;
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
	.left-menu div {
		height: 2.75rem;
		line-height: 2.75rem;
		font-size: 1.4rem;
	}
}
/**********************************************/
/*细分左侧导航*/
/**********************************************/
.hd-type {
	width: 35rem;
	height: 28.7rem;
	position: absolute;
	padding: 2rem;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	left: 14.8%;
	z-index: 9;
	background: #fff;
}

.hd-type div ul li {
	float: left;
	color: #999;
	margin-left: 1rem;
	line-height: 3rem;
}

.hd-type div hr {
	margin: 1rem 0;
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
	.hd-type {
		height: 23.2rem;
		line-height: 1rem;
	}
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
	.hd-type {
		height: 17.7rem;
		line-height: 0.5rem;
		padding: 1rem;
	}
	.hd-type div ul li {
		line-height: 2rem;
	}
	.foot-item h3 {
		margin: 0.5rem 0;
	}
}

@media screen and (max-width: 800px) {
	.hd-type {
		display: none;
	}
}
/**********************************************/
/*导航广告*/
/**********************************************/
.ad {
	float: left;
	width: 85%;
}

@media screen and (max-width: 800px) {
	.ad {
		width: 100%;
	}
}

* /
	/**********************************************/
	/*zg*/
	/**********************************************/         
	                       
.timg {
	margin-top: 3rem;
}

.Areafirstly {
	margin: 0 auto;
	margin-top: 40px;
}

.Areafirstly>div {
	float: left;
}

.abi {
	margin-top: 3px;
}

.i1 img {
	height: 17em;
	width: 100%;
}

.i2 img {
	height: 8em;
	width: 100%;
}

.i3 img {
	height: 12.5em;
	width: 100%;
}

.i4 img {
	width: 100%;
	height: 10em;
}

.i5 img {
	width: 100%;
	height: 15em;
}

.Areafirstly {
	line-height: 0 !important;
}

.Areafirstly>div {
	margin-left: 0.5%;
	cursor: pointer;
}

.Areafirstly div div {
	border: 1px solid #fff;
	-webkit-transition: all 1s 100ms;
}

.Areafirstly div div:hover {
	border: 1px solid #ff4c34;
}

.Areafirstly>div {
	width: 19%;
}

.Areaopen {
	margin-left: 0px !important;
	width: 20%;
}

/**********************************************/
/*zg右侧*/
/**********************************************/
.Areaend div {
	text-decoration: none;
	border: 0px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	height: 65px;
	width: 80%;
	margin: 0 auto;
}

.Areaend {
	background-color: #444;
	text-align: center;
	padding: 0 10px;
	height: 25.5rem;
	width: 22%;
}

.Areaend .Areaend-end {
	border-bottom: 0px solid #ccc !important;
}

.ng-binding {
	height: 20px;
	margin-top: 10px;
	line-height: 30px;
}

.Areaend h3 {
	font-size: 1.6rem;
	font-weight: 700;
	color: #ccc;
	-webkit-transition: all 1s 100ms;
	-moz-transition: all 1s 100ms;
	transition: all 1s 100ms;
}

.Areaend h3:HOVER {
	color: #ff4c34 !important;
}

.Areaend p {
	height: 2rem;
	color: #bbb;
}

@media screen and (max-width: 800px) {
	.dg>img {
		display: none;
	}
	.ng-binding {
		line-height: 25px;
	}
	.Areaend {
		display: none;
	}
	.dg {
		display: none;
	}
	.Areafirstly>div {
		width: 24.6%;
	}
}

/**********************************************/
/*>800显示的导航*/
/**********************************************/
.nav-l {
	height: 10rem;
	padding: 2rem 0;
	display: none;
}

.nav-l>div {
	width: 16%;
	height: 100%;
	float: left;
	margin-left: 1%;
	margin-top: 1%;
	background: #0078D7;
	text-align: center;
	font-size: 2rem;
	color: #fff;
}

.nav-l>div>div {
	height: 70px;
	margin-top: 25px;
}

.nav-l>div>div>div {
	margin: 0 auto;
}

.nav-l>div:nth-child(2) {
	width: 30%;
}

@media screen and (max-width: 800px) {
	.nav-l {
		display: block;
	}
}

@media screen and (max-width: 30em) {
	.nav-l {
		height: 6rem;
	}
	.nav-l>div>div {
		height: 50px;
		margin-top: 15px;
		font-size: 1.4rem;
	}
}

/**********************************************/
/*内容*/
/**********************************************/
.center {
	color: #444;
	margin-top: 4rem;
}

.center section div .pull-right li {
	float: left;
	font-size: 1.4rem;
	padding-left: 1rem;
	color: #767676;
	line-height: 3rem;
}

.center section div .pull-right {
	margin-right: 1%;
}

.center section .title {
	margin-left: 1%;
}

.center section .title span {
	font-size: 2rem;
}

.center .title {
	width: 5.8rem;
	line-height: 2rem;
}

.items ul li {
	width: 17.3%;
	padding: 0.9%;
	transition: all 1s 50ms;
	float: left;
	margin-left: 0.9%;
}

.items .fist {
	margin-left: 0;
}

.items ul li:hover {
	-webkit-box-shadow: 0 1px 10px #ccc;
	-moz-box-shadow: 0 1px 10px #ccc;
	box-shadow: 0 1px 10px #ccc;
}

.items img {
	width: 100%;
}

.items h3 {
	line-height: 2rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 100%;
	font-size: 1.8rem;
	color: #444;
}

.items p {
	margin-top: 0.8rem;
	height: 3.8rem;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	width: 19rem;
	line-height: 1.3rem;
}

.li-hr {
	width: 100% !important;
	margin: 0;
	padding: 0 !important;
}

.promo {
	display: inline-block;
	color: #fff;
	height: 1.5rem;
	line-height: 1.5rem;
	margin-right: 5px;
	padding: 0 2px;
	vertical-align: top;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 1.2rem !important;
}

.promo-p {
	background: #ff4883;
}

.promo-y {
	background: yellow;
}

.item-info {
	height: 2rem;
}

.pinfo .pay {
	font-size: 2rem;
	color: #ff4883;
}

.pinfo .pay-out {
	font-size: 1.2rem !important;
	margin-left: 0.8rem;
}

.pinfo .money-f {
	font-size: 1.6rem !important;
}

.pinfo .out-money {
	text-decoration: line-through;
}

.items-foot {
	font-size: 1.2rem;
}

.items-foot .evaluate {
	color: #00A1D6;
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
	.items h3 {
		line-height: 2rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		width: 100%;
		font-size: 1.5rem;
		color: #444;
	}
	.pinfo .pay {
		font-size: 1.6rem;
	}
	.timg {
		width: 30%;
	}
	.ysq img {
		width: 10%;
	}
	.center section .title span {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 800px) {
	.items .li-hr {
		display: none;
	}
	.items ul li {
		width: 30.9%;
	}
	.items h3 {
		font-size: 1.4rem;
	}
	.items ul li:nth-child(4n) {
		margin-left: 0;
	}
}

@media screen and (max-width: 30em) {
	.items h3 {
		font-size: 1.2rem;
	}
	.center section div .pull-right li {
		font-size: 1.2rem;
	}
	.items ul li {
		width: 47.7%;
	}
	.center section .title span {
		font-size: 1.4rem;
	}
	.center .title {
		width: 4.6rem;
	}
	.items ul li:last-child {
		margin-left: 0;
	}
}

* /
	/**********************************************/
	/*底部社区*/
	/**********************************************/                    
	                       
.community {
	margin: 0 auto;
	margin-bottom: 2rem;
}

.ysq {
	margin: 3rem 0;
}

.footcommunity li {
	float: left;
	margin-left: 2.65%;;
	width: 23%;
}

.footcommunity li img {
	width: 100%;
}

.footcommunity li:FIRST-CHILD {
	margin-left: 0;;
}

.footcommunity li img:nth-child(2) {
	display: none;
}

@media screen and (max-width: 800px) {
	.ysq img {
		width: 10%;
	}
}

@media screen and (max-width: 30em) {
	.footcommunity li {
		float: left;
		margin-left: 2.65%;
		width: 48.6%;
	}
	.footcommunity li:nth-child(3) {
		margin-left: 0;
	}
	.footcommunity li img:nth-child(1) {
		display: none;
	}
	.footcommunity li img:nth-child(2) {
		margin: 0.5rem 0;
		display: block;
	}
	.ysq img {
		width: 20%;
	}
}