/*头部*/
header {
	height: 37px;
	line-height: 37px;
}

header nav {
	background: #FAFAFA;
	height: 37px;
}

header nav div div ul li {
	font-size: 1.1rem;
	float: left;
	padding: 0 0.5em;
}

.flexible {
	width: 110em;
}

.top-left {
	float: left;
}


.top-right {
	float: right;
}

/*导航span==|*/
.sep-lines {
	border-left: 1px solid #dfdfdf;
}

.qrcode-discount{
	background:url("../img/index/qrcode.ico") no-repeat;
}

/**********************************************/
/*主体*/
/**********************************************/

.container{
	
}
