/*Í·²¿*/
header {
	height: 3.6rem;
	line-height: 3.6rem;
}

header nav {
	background: #FAFAFA;
	height: 3.6rem;
}

header nav div div ul li {
	font-size: 1.1rem;
	float: left;
	padding: 0 0.5em;
}

.flexible {
	width: 110rem;
}

.top-left {
	float: left;
}

.top-right {
	float: right;
}

.sep-lines {
	border-left: 1px solid #dfdfdf;
}

.qrcode-discount {
	background: url("../img/index/qrcode.ico") no-repeat;
	position: absolute;
	width: 80px;
}



@media screen and (max-width: 1300px) {
	.flexible {
		width: 100%;
	}
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
	.flexible {
		width: 1100px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
	.flexible {
		width: 800px;
	}
}

@media screen and (max-width: 800px) {
	.flexible {
		width: 100%;
	}
	.top-right ul li:nth-child(10) {
		display: none;
	}
	.top-right ul li:nth-child(11) {
		display: none;
	}
	.top-right ul li:nth-child(12) {
		display: none;
	}
	.top-right ul li:nth-child(13) {
		display: none;
	}
	.top-right ul li:nth-child(14) {
		display: none;
	}
	.top-right ul li:last-child {
		display: none;
	}
}

@media screen and (max-width: 30em) {
	.top-right ul li:nth-child(4) {
		display: none;
	}
	.top-right ul li:nth-child(5) {
		display: none;
	}
}

/***************************************/
.foot {
	background: #000;
	line-height: 36px;
	height: 36px;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
}

.foot  a {
	color: #2a6496;
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
	.foot {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 800px) {
	.foot {
		font-size: 1rem;
	}
}