<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ysk.dao.ReserDao">
  <resultMap type="Reservation" id="reserMap">
  	<id property="res_id" column="RES_ID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  	<result property="res_name" column="RES_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
  	<result property="res_explain" column="RES_EXPLAIN" javaType="java.lang.String" jdbcType="VARCHAR"/>
  	<result property="res_price" column="RES_PRICE" javaType="java.lang.Double" jdbcType="DOUBLE"/>
  	<result property="res_num" column="RES_NUM" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  	<result property="res_typeId" column="RES_TYPEID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  	<result property="res_state" column="RES_STATE" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  	<result property="res_address" column="RES_ADDRESS" javaType="java.lang.String" jdbcType="VARCHAR"/>
  	<result property="res_startTime" column="RES_STARTTIME" javaType="java.util.Date" jdbcType="DATE"/>
  	<result property="res_endTime" column="RES_ENDTIME" javaType="java.util.Date" jdbcType="DATE"/>
  	<result property="res_realPrice" column="RES_REALPRICE" javaType="java.lang.Double" jdbcType="DOUBLE"/>
  	<result property="res_picPath" column="RES_PICPATH" javaType="java.lang.String" jdbcType="VARCHAR"/>
  	<result property="res_telephone" column="RES_TELEPHONE" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  </resultMap>
  
  <select id="queryAllReser" resultMap="reserMap">
  	select * from ysk_reservation
  </select>
  
  <select id="queryById" parameterType="int" resultMap="reserMap">
  	select * from ysk_reservation where res_id = #{reserId}
  </select>
  
  <select id="queryByName" parameterType="String" resultMap="reserMap">
  	select * from ysk_reservation where res_name like '%#{reserName}%';
  </select>
  
  <insert id="addReser" parameterType="com.ysk.vo.Reservation">
  	insert into ysk_reservation(res_id,res_name,res_explain,res_price,res_num,res_typeid,res_state,res_address,res_starttime,res_endtime,res_realprice,res_picpath,res_telephone) values(seq_ysk_reservation.nextval,reser.res_name,reser.res_explain,reser.res_price,reser.res_num,reser.res_typeId,reser.res_state,reser.res_address,reser.res_startTime,reser.res_endTime,reser.res_realPrice,reser.res_picPath,reser.res_telephone);
  </insert>
</mapper>
